<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Unifai.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>UnifaiTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UnifaiWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B363CF801CCEEBB300B6182D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>B363CF961CCEEBB300B6182D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>B363CFA11CCEEBB300B6182D</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>B39006A31CD6853400F472AC</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
